<h2>Content</h2>
<table>
    <tr *ngFor="let message of messages" (dblclick)="message.show = !message.show">
        <td>
            <pre>{{ message.post }}</pre>
        </td>
        <td *ngIf="message.show && message.decrypted">
            <pre class="text">{{ message.decrypted.text }}</pre>
        </td>
        <td *ngIf="!(message.show && message.decrypted)">
            <pre class="text">{{ splitMessage(message.message) }}</pre>
        </td>
        <td>
            <button (click)="startEdit(message)">Edit</button>
            <br />
            <button (click)="deleteMessage(message.rowid)">Delete</button>
        </td>
    </tr>
</table>

<textarea [(ngModel)]="newText"></textarea>
<button *ngIf="newType=='ADD'" class="button button-primary" (click)="addMessage()">Add</button>
<button *ngIf="newType=='EDIT'" class="button button-primary" (click)="editMessage()">Edit</button>


<app-encrypt
    (publicKeyEvent)="setPublicKey($event)"
    (privateKeyEvent)="setPrivateKey($event)"
    (decryptingEvent)="setDecryptingEvent($event)"
></app-encrypt>

