<h2>Content</h2>
<ul>
    <li *ngFor="let message of messages" (mouseover)="message.show = true" (mouseout)="message.show = false">
        <span *ngIf="message.show && message.decrypted">
            {{ message.post }}: {{ message.decrypted }}
        </span>
        <span *ngIf="!(message.show && message.decrypted)">
            {{ message.post }}: {{ message.message }}
        </span>
        <button (click)="deleteMessage(message.rowid)">Delete</button>
    </li>
</ul>

<textarea [(ngModel)]="newText"></textarea>
<button class="button button-primary" (click)="addMessage()">Test</button>

<app-encrypt (publicKeyEvent)="setPublicKey($event)" (privateKeyEvent)="setPrivateKey($event)"
    (decryptingEvent)="setDecryptingEvent($event)"></app-encrypt>