<fieldset>
    <legend>Register</legend>
    <div class="form-field">
        <label>Username:</label>
        <input name="username" [(ngModel)]="username">
    </div>
    <div class="form-field">
        <label>Password:</label>
        <input name="password" [(ngModel)]="password" type="password">
    </div>
    <div class="form-field">
        <label>Public key (stored on LogBook server):</label>
        <textarea name="publickey" rows="6" cols="65" [(ngModel)]="publickey" (change)=test()></textarea>
    </div>
    <div class="form-field">
        <label>Private key (never send to LogBook server):</label>
        <textarea name="privatekey" rows="15" cols="65" [(ngModel)]="privatekey" (change)=test()></textarea>
    </div>
    <button class="button button-primary" (click)="generate()">Generate key pair</button>
</fieldset>
<div class="form-buttons">
    <button class="button button-primary" (click)="register()" [disabled]="!valid">Login</button>
</div>